.container-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  &.register {
    background: url("https://images.pexels.com/photos/34177/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    .container {
      height: initial;
    }
  }
  .container {
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    .container-bg {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 20px;
      padding-bottom: 40px;
      box-sizing: border-box;
    }
    .content-wrap {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 80%;
      .content {
        max-width: 200px;
        width: 100%;
        > form {
          display: flex;
          flex-direction: column;
          > input {
            margin: 10px;
          }
        }
      }
    }
  }
  .input-wrap {
    padding: 10px;
  }
}
